<%- include('partials/header'); -%>

<div class="">
  <h1>Compose</h1>

  <form class="compose-form" action="/compose" method="post">

    <div class="form-group">
      <label for="postTitle">Title</label>
      <input class="form-control" type="text" name="postTitle">
      <label for="postText">Text</label>
      <textarea class="form-control" name="postText" rows="8" cols="80"></textarea>
    </div>
    <button class="btn btn-primary" type="submit" name="button">Publish</button>
  </form>

</div>


<%- include('partials/footer'); -%>
